html {
    height: 100%;
}

.image-banner-container {
    background: url('/media/yoga-banner-crop.jpg') no-repeat center center;
    background-size: cover;
    height: 35vh;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

#info-banner {
    background-color: yellow;
}

.content-container {
    position: relative;
    top: 50px;
}

.product-image {
    height: 40vh;
    width: 30vh;
    object-fit: cover;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 120px;
    }
}

/* push content down page below navbar on smaller screens*/
@media (max-width: 992px) {
    .content-container {
        position: relative;
        top: 100px;
    }
}

/* Display background whole screen on small mobile */
@media (max-width: 400px) {
    .image-banner-container {
        background: url('/media/yoga-banner-crop.jpg') no-repeat center center;
        background-size: contain;
        position: relative;
        top: 105px;
        left: 0;
        right: 0;
    }

    /* push content down page below navbar on smaller screens*/
    .content-container {
        position: relative;
        top: 200px;
    }

}